body {
	background-image: url('../static/images/download.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  background: #f6f6ef;
	width: 75%;
	margin: 10 auto;
	padding: 20px;
}

h2 {
  background: #f6f6ef;
	width: 15%;
	margin: 10 auto;
	padding: 20px;
}

#news {
  background: #f6f6ef;
	width: 75%;
	margin:  auto;
	padding: 5px;
}

#details {
  background: #f6f6ef;
	width: 75%;
	margin: 10 auto;
	padding: 20px;
}